header
    .header 
        .container 
            a(href="index.html").header__logo 
                img(src="img/svg/logo.svg", alt="")
            nav.header__nav
                ul
                    li
                        a(href="") главная
                    li
                        a(href="") займы под птс
                    li
                        a(href="") займы без залога
                    li
                        a(href="") условия
                    li
                        a(href="") акции
                    li
                        a(href="") документы

            a(href="tek:88005506330").header__phone.header__phone--green 8 800 550 63 30