.calc {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    padding: 45px 40px;
    order: 1;
    width: 461px;
}

.calc__title {
    font-size: 29px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
    line-height: 1.5;
}

.calc__form {
    p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            &:first-child {
                font-size: 15px;
                color: #8e8e8e;
                text-transform: uppercase;
            }
            &:nth-child(2) {
                font-size: 24px;
            }
        }
    }
    i {
        font-size: 17px;
        font-style: normal;
    }
}

.calc__footer {
    p {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.calc__inner {
    p {
        margin-bottom: 25px;
    }
}

.calc__button {
    background-color: $green;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    width: 100%;
    line-height: 53px;
    text-align: center;
    margin: 40px 0;
    cursor: pointer;
    span {
        font-size: 24px;
    }
}

.calc__slider {
    position: relative;
    height: 1px;
    background-color: #cacaca;
    margin-bottom: 35px;
    &:last-child {
        margin-bottom: 0;
    }
}

.calc__dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $green;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    &--sum {
        left: 60px;
    }
    &--date {
        left: 125px;
    }
}
